<header>
     <!-- Fixed navbar -->
     <nav class="navbar navbar-expand-md navbar-light bg-secondary">
       <a class="navbar-brand" href="/" target="_blank">
      <img src="/assests/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">

     </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse " id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item ">
             <a class="nav-link" href="/admin/pages">Pages </a>
             </li>
             <a class="nav-link" href="/admin/categories">Categories </a>
             </li>
             <a class="nav-link" href="/admin/products">Products </a>
             </li>
         </ul>
       </ul>
       <ul class="navbar-nav mr-3">
         {{#if user}}
             <li class="nav-item"> <a class="nav-link" href="/user/logout">Logout</a>  </li>
         {{else}}
         <li  class="nav-item"> <a  class="nav-link" href="/user/register">Register</a>  </li>
         <li class="nav-item"> <a class="nav-link" href="/user/login">Login</a>  </li>
         {{/if}}
       </ul>
       <form class="form-inline mt-2 mt-md-0">

         <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
       </form>
       </div>
     </nav>
   </header>
