<!--<nav class="navbar navbar-light bg-light navbar-expand-md">
    <h6 class=" mr-md-auto ">
      <a class="navbar-brand" href="/">
     <img src="/assests/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">

    </a>
  </h6>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
      <a class="btn btn-outline-primary" href="/login">Login</a>
    </nav>

    <a class="btn btn-outline-primary" href="/signup">Sign up</a>
  </nav>
-->

  <header class="header">
       <!-- Fixed navbar -->
       <nav class="navbar navbar-expand-md navbar-light bg-secondary">
         <a class="navbar-brand" href="/">
        <img src="/assests/logo.png" width="150" height="150" class="d-inline-block align-top" alt="">

       </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse " id="navbarCollapse">
           <ul class="navbar-nav mr-auto">
             {{#each pages}}
             {{#if (check slug "home")}}
             <li class="nav-item ">
               <a class="nav-link" href="/">{{title}} </a>
             </li>
             {{else}}
             <li class="nav-item ">
               <a class="nav-link" href="/{{slug}}">{{title}} </a>
             </li>
             {{/if}}
             {{/each}}
           </ul>
           <form class="form-inline mt-2 mt-md-0">
             <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
         </div>
       </nav>
     </header>
