<div class="Content">
  <div class="container mt-4">
  <div class="row">
  <div class="col-xs-12 col-md-3">
      <h3>Categories</h3>
      <ul class="list-group">
          <li class="list-group-item">
              <a href="/products/all">All Products</a>
          </li>
          {{#each category}}
          <li class="list-group-item">
              <a href="/products/{{slug}}">{{title}}</a>
          </li>
          {{/each}}
      </ul>
  </div>
  <div class="col-md-9">

          <p>{{striptag content}}</p>

  </div>
  </div>
  </div>
</div>
